{% extends 'base.html' %}

{% block title %}Juguetes a la venta{% endblock %}

{% block content %}
<div class="container">

  <h1 class="heading">Hot Wheels a la venta</h1>
  <p class="description">Juguetes usados a la venta</p>
    {% for truck in trucks: %}


               <div class="col-md-4 col-sm-6">
                    <div class="box21">
                        <img class="pic-1" src='{{truck.img_url}}'>
                        <div class="box-content">
                            <h4 class="title">{{truck.name}}</h4>
                            <p class="description">{{truck.review}}</p>
                            <p class="rating">{{truck.rating}}</p>
                            <p class="price">¢{{truck.price}}</p>
                            {% if user.id ==1 %}
                            <a class="read-more" href="{{url_for('edit', truck_id=truck.id)}}">Actualizar</a>
                            <p></p>
                            <a class="read-more" href="#">Borrar</a>
                            {%endif%}
                        </div>
                    </div>
                </div>

     {% endfor %}
</div>

{% if user.id ==1 %}
<div class="container text-center add">
<a href="{{url_for('add')}}" class="button">Agregar juguete</a>
</div>
{%endif%}
{% include "footer.html" %}
{% endblock %}
