{% include "base.html" %}
{%from 'bootstrap5/form.html' import render_form %}
<!-- Page Header-->
{% block content %}
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Login</h1>
        </div>
      </div>
    </div>
  </div>

<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{render_form(form)}}
      </div>
    </div>
  </div>
   {% with messages = get_flashed_messages() %}
    {% if messages%}
      <p class=flashes style="color:#FF0000; text-align:center">
      {% for message in messages %}
          {{ message }}
      {% endfor %}
      </p>
    {% endif %}
  {% endwith %}
</main>
{%endblock%}


